### Associated Model Accuracy 
71.0%

In [1]:
import numpy as np
import pandas as pd 
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.linear_model import LogisticRegression

In [2]:
cust_df = pd.read_csv('../datasets/dm_train_t.csv')

In [3]:
cust_df.head()

,id,n24_t,rev24_t,elpsdm_t_t_1,revlast_t_t_1,ordfreq,ordcat,response
0,1,0.693147,3.401197,0.0,4.472136,1,6,1
1,2,3.218876,5.332719,0.0,4.472136,1,6,0
2,3,1.609438,3.951244,0.0,3.872983,1,6,0
3,4,2.397895,4.653960,0.0,3.872983,1,6,0
4,5,0.693147,3.465736,0.0,4.123106,1,6,0

In [4]:
cust_df.tail()

,id,n24_t,rev24_t,elpsdm_t_t_1,revlast_t_t_1,ordfreq,ordcat,response
1995,1996,2.484907,4.653960,3.178054,4.472136,2,6,0
1996,1997,3.583519,6.666957,3.178054,2.236068,2,6,0
1997,1998,1.945910,6.028279,3.178054,10.000000,1,7,0
1998,1999,1.609438,4.343805,3.178054,5.000000,1,7,0
1999,2000,3.526361,6.150603,3.178054,5.567764,1,6,0

In [5]:
cust_df.shape

(2000, 8)

In [6]:
cust_df.columns

Index(['id', 'n24_t', 'rev24_t', 'elpsdm_t_t_1', 'revlast_t_t_1', 'ordfreq',
       'ordcat', 'response'],
      dtype='object')

In [7]:
cust_cols = ['n24_t', 'rev24_t', 'elpsdm_t_t_1', 'revlast_t_t_1', 'ordfreq','ordcat']

x = cust_df[cust_cols]
y = cust_df['response']

In [8]:
#define the model
model = LogisticRegression()

In [9]:
#define the evaluation procedure
cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)

In [10]:
#evaluate the model
m_scores = cross_val_score(model, x, y, scoring='accuracy', cv=cv, n_jobs=-1)

In [11]:
#summarize the results
print("Accuracy: %.3f (%.3f)" % (np.mean(m_scores), np.std(m_scores)))

Accuracy: 0.710 (0.006)